.main{
  max-width: 1248px;
  margin: 24px auto 0;
  @include respond(tab-land){
    margin: 0 auto;
  }
  svg {
    fill: $color-text;
    vertical-align: middle;
  }
}
.split-cols {
  display: flex;
  flex-wrap: nowrap;
  @include respond(tab-land){
    display: block;
  }
}
.tabs{
  display: flex;
  font-size: 14px;
  padding: 0 16px;
  &-container {
    border-bottom: 1px solid $color-grey-bg;
    display: flex;
    flex-wrap: nowrap;
    @include respond(tab-land){
      display: none;
    }
    &-sm{
      display: none;
      @include respond(tab-land){
        display: flex;
        border-bottom: 1px solid $color-grey-bg;
      }
    }
    &-sm.fixed {
      position: fixed;
      top: 0;
      width: 100%;
      background-color: $color-white;
      z-index: 39;
    }
  }
  @include respond(tab-port){
    width: 100%;
    overflow-x: scroll;
  }
  &-left {
    width: 25%;
    @include respond(tab-land){
      width: 0;
    }
  }
  &-profile {
    font-weight: 600;
    padding: 0 16px;
    margin: 8px 0;
    @include respond(tab-land){
      display: none;
    }
    img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 4px;
    }
  }
  .tab{
    .counter {
      min-width: 20px;
      padding: 0 6px;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      text-align: center;
      border: 1px solid transparent;
      border-radius: 2em;
    }
    a {
      color: $color-text;
      padding: 8px 16px;
      font-size: 14px;
      border-bottom: 2px solid transparent;
      line-height: 30px;
      display: inline-block;
      white-space: nowrap;
      svg {
        margin-right: 4px;
        fill: $color-text;
        vertical-align: middle;
        line-height: 30px;
        @include respond(tab-port){
          display: none;
        }
      }
    }
    a:hover {
      border-bottom: 2px solid $color-grey-bg;
    }
    a.selected {
      color: $color-text-hover;
      border-bottom: 2px solid $color-orange;
      svg {
        fill: $color-text-hover;
      }
    }
    a.selected:hover {

    }
    &-info {
      display: inline-block;
      min-width: 20px;
      padding: 0 6px;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      color: $color-text;
      text-align: center;
      background-color: $color-grey-bg;
      border: 1px solid transparent;
      border-radius: 2em;
    }
  }
}
.tabs-container.fixed {
  background-color: $color-white;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 11;
  @include respond(tab-land){
    display: none;
  }
}
.tabs-profile.hide{
  display: none;
}
.profile {
  display: inline-block;
  padding: 16px;
  width: 25%;
  min-width: 25%;
  @include respond(tab-land){
    width: 100%;
    margin-bottom: 24px;
  }
  &-group {
    @include respond(tab-land){
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      width: 100vw;
      margin-bottom: 24px;
    }
  }
  &-location {
    &-container {
      margin-bottom: 8px;
    }
    display: none;
    border: 1px solid $color-outline-light;
    margin-top: 8px;
    padding: 4px 8px;
    font-size: 12px;
    white-space: nowrap;
    img {
      width: 15px;
      height: 15px;
      vertical-align: middle;
      margin-right: 8px;
    }
    @include respond(tab-land){
      display: block;
    }
  }
  &__image {
    margin-top: -50px;
    position: relative;
    @include respond(tab-land){
      margin-top: 0;
      width: 16.666%;
      margin-right: 16px;
    }
    img {
      border-radius: 50%;
      width: 100%;
    }
    &--button {
      display: inline-block;
      position: absolute;
      cursor: pointer;
      top: 75%;
      right: 0;
      width: 38px;
      height: 38px;
      transform: translateX(-10px);
      background-color: $color-white;
      border: 1px solid $color-outline-light;
      border-radius: 2em;
      box-shadow: $color-shadow-small;
      z-index: 2;
      @include respond(tab-land){
        display: none;
      }
      &-btn {
        position: relative;
        text-align: center;
        height: 100%;
        span {
          display: block;
        }
        &:hover {
          span {
            display: block;
          }
        }
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 15px;
          vertical-align: middle;
        }
      }
    }
  }
  &__name {
    padding: 16px 0;
    text-align: left;
    &--main{
      font-size: 26px;
      font-weight: 600;
      line-height: 1.25;
    }
    &--username {
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: 24px;
      color: #586069;
    }
  }
  &__intro {
    display: block;
    margin-bottom: 16px;
    font-size: 16px;
    overflow: hidden;

  }
  &__edit {
    margin-bottom: 16px;
    &--btn {
      width: 100%;
    }
  }
  &__brief {
    margin: 16px 0;
    @include respond(tab-land){
      order: 1;
      min-width: 100%;
    }
    &--item {
      padding: 4px 0 0 22px;
      svg{
        margin-left: -22px;
      }
    }
  }
  &__stats {
    @include respond(tab-land){
      order: 2;
      min-width: 100%;
      margin-bottom: 16px;
    }
  }
  &-rgroup {
    @include respond(tab-land){
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__highlight {
    padding: 16px 0;
    border-top: 1px solid $color-outline-light;
    border-bottom: 1px solid $color-outline-light;
    &--head {
      font-size: 16px;
      font-width: 600;
      margin-bottom: 8px;
    }
    &--body {
      span {
        color: #6f42c1;
        border: 1px solid #6f42c1;
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        margin-top:4px;
        padding: 0 7px;
        border-radius: 2em;
      }
    }
  }
  &__orgs {
    padding: 16px 0;
    &--head {
      font-size: 16px;
      font-width: 600;
      margin-bottom: 8px;
    }
    &--body {
      img {
        border-radius: 50%;
        height: 32px;
        width: 32px;
        margin-bottom: 3px;
      }
    }
  }
}
.repos {
  display: inline-block;
  width: 75%;
  padding: 0 16px;
  @include respond(tab-land){
    width: 100%;
    padding: 0;
  }
  &__head {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 16px 0;
    width: 100%;
    border-bottom: 1px solid $color-grey-bg;
    @include respond(tab-land){
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 16px;
    }
    .btn {
      white-space: nowrap;
      svg {
        fill: $color-white;
      }
    }
    &--search {
      width: 100%;
      input {
        padding: 5px 12px;
        font-size: 14px;
        line-height: 20px;
        color: $color-text;
        vertical-align: middle;
        border: 1px solid $color-outline-light;
      }
      @include respond(tab-land){
        order: 2;
        margin-bottom: 4px;
      }
    }
    &--filters {
      display: flex;
      flex-wrap: nowrap;
      margin: 0 16px;
      position: relative;
      @include respond(tab-land){
        order: 3;
        margin: 0;
        margin-top: 4px;
      }
      .btn {
        border: 1px solid $color-outline-light;
        background-color: $color-btn-bg;
        color: $color-text;
        &:not(last-child){
          margin-right: 4px;
        }
        &:hover {
          background-color: $color-btn-hover;
        }
        svg {
          fill: $color-text;
        }
      }
      .ppop {
        display: block;
        position: absolute;
        right: 0;
        width: 300px;
        z-index: 20;
        margin: 8px 0 16px;
        font-size: 12px;
        box-shadow: 0 8px 24px rgba(149,157,165,0.2);
        border-radius: 12px;
        background-color: $color-white;
        border: 1px solid $color-outline-light;
        @include respond(tab-port){
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }
        &-container{
          position: relative;
        }
        &-bg{
          @include respond(tab-port){
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height:100vh;
            z-index: 29;
            background-color: rgba(82, 79, 79, 0.5);
          }
        }
        &-head {
          padding: 16px 7px 7px;
          display: flex;
          justify-content: space-between;
          font-weight: 600;
          svg{
            cursor: pointer;
          }
        }
        &-item{
          padding: 7px 16px;
          border-top: 1px solid $color-outline-light;
          cursor: pointer;
          svg {
            margin-right: 7px;
            visibility: hidden;
          }
          &:hover{
            background-color: $color-btn-hover;
          }
        }
        &-item.checked{
          svg {
            visibility: visible;
          }
        }
      }
      .ppop-bg.hide{
        display: none;
      }
    }
    &--new {
      .btn{
        padding: 5px 16px;
        line-height: 20px;
      }
      @include respond(tab-land){
        order: 1;
        display: block;
        min-width: 100%;
         text-align: center;
        margin-bottom: 24px;
        .btn {
          width: 100%;
        }
      }
    }
  }
  &__main {
    padding: 0 16px;
    border-bottom: 1px solid $color-grey-bg;
    .repo {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 24px 0;
      border-bottom: 1px solid $color-outline-light;
      &__left {
        max-width: 75%;
        &--top {
          margin-bottom: 1px;
          display: flex;
          flex-wrap: nowrap;
        }
      }
      &__right{
        min-width: 25%;
        @include respond(tab-land){
          display: flex;
          justify-content: flex-end;
          .btn {
          }
        }
      }
      &-name {
        color: $color-blue;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5;
        &:hover {
          border-bottom: 2px solid $color-blue;
        }
      }
      &-visibility {
        border: 1px solid $color-outline-light;
        padding: 0 7px;
        font-size: 12px;
        font-weight: 500;
        line-height: 24px;
        border-radius: 2em;
        background-color: initial!important;
        margin: 0 0 4px 4px;
      }
      &-fork{
        margin-bottom: 4px;
        font-size: 12px;
      }
      &-info {
        margin-bottom: 24px;
        padding-right: 8px;
        width: 75%;
        display: inline-block;
        min-height: 1px;
        @include respond(tab-land){
          // width: 100%;
        }
      }
      &-details {
        display: flex;
        align-items: center;
        font-size: 12px;
        div {
          white-space: nowrap;
          &:not(:last-child){
            margin-right: 16px;
          }
        }
      }
      &-language {
        &-color {
          display: inline-block;
          height: 12px;
          width: 12px;
          border-radius: 50%;
          background-color: $color-orange;
        }
        .color-2{
          background-color: #2c3e50;
        }
        .color-3{
          background-color: #f1e05a;
        }
        .color-4{
          background-color: #563d7c;
        }
        .color-5{
          color: #3572A5;
        }
      }
    }
  }
  &__nav {
    margin: 16px auto;
    text-align: center;

    .btn {
      color: $color-blue;
      border: 1px solid $color-outline-light;
      border-radius: 0;
      background-color: $color-btn-bg;
    }
    .btn1{
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    .btn2{
      margin-left: -4px;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      &:hover {
        background-color: $color-blue;
        color: $color-white
      }
      button:disabled {
        cursor: default;
        color: red;
      }
    }
  }

}
.no-land{
  @include respond(tab-land){
    display: none;
  }
}