$color-black-bg: #24292e;

$color-text-light: #586069;
$color-text: #24292e;
$color-text-hover: #6a737d;


$color-green: #2EA44F;
$color-blue: #2887F5;


$color-white: #ffffff;
$color-white-text: #ffffffE6;
$color-white-hover: #ffffffB3;


$color-outline: #444d56;
$color-outline-light: #e1e4e8;
$color-grey-bg: rgba(209,213,218,0.5);
$color-shadow-small: rgba(27, 31, 35, 0.4);

$color-btn-bg: #fafbfc;
$color-btn-hover: #f3f4f6;


$color-orange: #f9826c;

